<nav class="navbar navbar-default">
  <h2><a class="navbar-brand" href="/">Loja de Música</a></h2>
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li> <a href="/music">Register Music</a></li>
      	<li> <a href="/rank">Rank Favorites</a></li>
        <li><a href="/exit">Exit</a></li>
      </ul>
    </div>
  </div>
</nav>